#board {
  width: 1280px;
  height: 640px;
  border: 1px solid #dedede;
  margin: 20px auto;
}

.wall {
  background: url('../assets/wall.png');
  background-size: 32px 32px;
}

.wall, .nowall {
  float: left;
  width: 32px;
  height: 32px;
}

.purple {
  background: url('../assets/purple.png');
  background-size: 32px 32px;
}

.closed {
  background: url('../assets/closed.png');
  background-size: 32px 32px;
}

.open {
  background: url('../assets/open.png');
  background-size: 32px 32px;
}

.compass {
  background: url('../assets/compass.png');
  background-size: 32px 32px;
}


.food {
  background: url('../assets/food.png');
  background-size: 32px 32px;
}

.key {
  background: url('../assets/key.png');
  background-size: 32px 32px;
}

.pencils {
  background: url('../assets/pencils.png');
  background-size: 32px 32px;
}

.shoe {
  background: url('../assets/shoe.png');
  background-size: 32px 32px;
}

.footer {
  margin: 10px auto;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #000;
}

.rm_notes {
  width: 300px;
  text-align: left;
  margin: 10px auto;
}
